/* DEFAULT */

body 
{
	background-color:white;
	background-image:url('images/bg.gif');
	background-repeat:repeat-x;
	margin:0px;
	padding:0px;
}

.testContainer
{
	background-color:Yellow;
}

.firstContainer
{
	background-color:Green;
}

#header
{
	height:124px;
}

#header_container
{
	margin:0px auto;
	width:1000px;
	height:124px;
	background-image:url('Images/header.jpg');
	background-repeat:no-repeat;
	font-family:Tahoma; font-size:12px;
	letter-spacing:1px;
}

#header_container a
{
	text-decoration:none;
}

#header_container a:hover
{
	color:#277185;
}

#title
{
	font-size:26px;
	font-family:Verdana;
	color:#d3e6eb;
	font-weight:normal;
	padding-top:56px;
	padding-left:142px;
	letter-spacing:2px;
}

#admin_menu
{
	margin-left:132px;
	line-height:27px;
}

#picture
{
	height:220px;
}


#picture_container
{
	margin:0px auto;
	width:736px;
	height:220px;
}

#menu
{
	height:48px;
	padding-left:10px;
	
}

#menu a
{
	color:#282828;
	text-decoration:none;
	text-transform:uppercase;
	font-family:Trebuchet MS;
	font-size:12px;
	font-weight:bold;
	letter-spacing:1px;	
	padding-right:20px;
}

#menu a:hover
{
	color:#2ca8ca;
}

#pic_left
{
	float:left;
	width:406px;
	height:125px;
	background-image:url('images/pic_book.jpg');
	background-repeat:no-repeat;
}

#pic_right
{
	float:right;
	height:125px;
	width:330px;
	background-image:url('Images/bg3.gif');
	background-repeat:no-repeat;
	letter-spacing:3px;
}

#middle
{
	padding-bottom:60px;
}

#middle_container
{
	margin:0px auto;
	width:736px;
}

#content
{
	text-align:justify;
	font-family:Verdana;
	font-size:12px;
	float:left;
	width:517px;
	padding-right:20px;
	padding-left:10px;
}


#menu_right
{
	float:right;
	width:180px;
}

#menu_wrapper
{
	background-color:#d1e0e4;
	padding-left:5px;
	padding-top:2px;
}

#footer
{
	width:100%;
	bottom:0px;
	position:fixed;
	padding-top:20px;
	height:40px;
	background:url('images/bg1.gif') repeat-x;
	font-family:Verdana;
	font-size:12px;
	color:Gray;
	text-align:center;
}

#footer a
{
	margin-top:5px;
	color:Gray;
}

#footer a:hover
{
	text-decoration:none;
}


.clear
{
	clear:both;
}


.box
{
	width:176px;
}

.box_header
{
	
}

.back_top
{
	height:8px;
	margin-left:8px;
	margin-right:8px;
	background-color:#d1e0e4;
}

.box_header_left
{
	height:8px;
	background:url('images/box-left-top.gif') no-repeat left top;
}

.box_header_right
{
	height:8px;
	background:url('images/box-right-top.gif') no-repeat right top;
}

.box_footer
{
	
}

.back_bottom
{
	height:8px;
	margin-left:8px;
	margin-right:8px;
	background-color:#d1e0e4;
}

.box_footer_left
{
	height:8px;	
	background:url('images/box-left-bottom.gif') no-repeat left top;
}

.box_footer_right
{
	height:8px;
	background:url('images/box-right-bottom.gif') no-repeat right top;
}

.box_middle_right
{
	padding-left:8px;
	padding-right:8px;
}

.box_middle
{
	background-color:#d1e0e4;
}

/*AdminWorkspace*/
a.myworkspace:link{color:Black; text-decoration:none; font-family:Tahoma; font-size:12px; padding:0px 6px; border-right: 1px solid #000000;}
a.myworkspace:visited{color:Black; text-decoration:none; font-family:Tahoma; font-size:12px; padding:0px 6px; border-right: 1px solid #000000;}
a.myworkspace:hover{}
a.admin:link{color:Black; text-decoration:none; font-family:Tahoma; font-size:12px;padding:0px 6px;border-right: 1px solid #000000;}
a.admin:visited{color:Black; text-decoration:none; font-family:Tahoma; font-size:12px;padding:0px 6px;border-right: 1px solid #000000;}
a.admin:hover{}

/*Login-Logout*/
a.login:link{color:Black; text-decoration:none; font-family:Tahoma; font-size:12px;padding:0px 6px;border-right: 1px solid #000000;}
a.login:visited{color:Black; text-decoration:none; font-family:Tahoma; font-size:12px;padding:0px 6px;border-right: 1px solid #000000;}
a.login:hover{}
a.logout:link{color:Black; text-decoration:none; font-family:Tahoma; font-size:12px;padding:0px 6px;border-right: 1px solid #000000;}
a.logout:visited{color:Black; text-decoration:none; font-family:Tahoma; font-size:12px;padding:0px 6px;border-right: 1px solid #000000;}
a.logout:hover{}
a.register:link{color:Black; text-decoration:none; font-family:Tahoma; font-size:12px;padding:0px 6px;border-right: 1px solid #000000;}
a.register:visited{color:Black; text-decoration:none; font-family:Tahoma; font-size:12px;padding:0px 6px;border-right: 1px solid #000000;}

/* PAGE ELEMENTS */
.title{font-family:Trebuchet MS; font-size:28px; letter-spacing:2px; color:#405c64; padding-top:80px; text-align:right; padding-right:18px; }
.publishing_info {margin-top:5px;margin-bottom:15px}
.author_date_first_published {font-style:italic;color:#999999}
.person_last_updating_and_date {font-style:italic;color:#999999}
.posted_by_and_date {font-style:italic;color:#999999}
.category_info {margin-top:15px;margin-bottom:10px;color:#999999}
.category_name {margin-bottom:10px;line-height:35px;font-family:arial;font-weight:bold;font-size:12px;color:#333333;text-transform: uppercase;}
a.all_categories {font-weight:normal;font-size:12px;color:#333333;text-transform: none;}
.recent_entries {margin-bottom:10px;line-height:35px;font-family:arial;font-weight:bold;font-size:12px;color:#333333;text-transform: uppercase;}
a.recent_entries {font-weight:normal;font-size:12px;color:#333333;text-transform: none;}
.month_list {margin:7px;}
.paging {line-height:12px;font-size:9px;padding-top:8px;padding-left:27px;width:262px;height:21px;background:url(images/paging.gif) no-repeat;}

/* ARCHIVES BOX (Calendar & Month List) */
.boxArchives {width:100%}
.boxHeaderArchives {padding-left:40px;text-align:left;font-weight:bold;font-size:9pt;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;height:26px;}
.boxContentArchives {padding:0px;text-align:right;white-space:nowrap;}
.boxMonthList {padding:7px;padding-left:40px;padding-bottom:15px;text-align:left;white-space:nowrap}

/* CATEGORIES BOX */
.boxCategories {width:100%}
.boxHeaderCategories {padding-left:40px;text-align:left;font-weight:bold;font-size:9pt;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;height:27px;}
.boxContentCategories {padding:7px;padding-left:40px;padding-bottom:15px;text-align:left;white-space:nowrap}

/* NEWS FEED SUBSCRIBE BOX (rss link) */
.boxNewsFeedSubscribe {width:100%}
.boxHeaderNewsFeedSubscribe {padding-left:40px;text-align:left;font-weight:bold;font-size:9pt;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;height:27px;}
.boxContentNewsFeedSubscribe {padding:7px;padding-left:40px;padding-bottom:15px;text-align:left;white-space:nowrap}

/* ORDER NOW BOX */
.boxOrderNow {width:100%;border-bottom:white 1px solid;margin-bottom:25px;background:url('images/order_bg.gif') no-repeat;}
.boxHeaderOrderNow {padding-left:40px;text-align:left;font-weight:bold;font-size:9pt;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;height:27px;}
.boxContentOrderNow {padding:7px;padding-bottom:20px;padding-left:40px;text-align:left;color:#ffffff}
.boxContentOrderNow td {color:#ffffff}

/* CART INFO */
.cart{font-family:Verdana;font-weight:normal;font-size:10px;color:#555555;}

/* BREADCRUMB */
.breadcrumb{color:Black;font-family:Tahoma; font-size:11px; padding:0px 6px; margin-top:8px;}
a.breadcrumb:link{color:Black; font-family:Tahoma; font-size:11px; padding:0px 6px;}
a.breadcrumb:visited{color:Black;font-family:Tahoma; font-size:11px; padding:0px 6px;}
a.breadcrumb:hover{color:#277185;text-decoration:none;}

/* NEWS FEED BOX */
.boxNewsFeed {width:100%}
.boxHeaderNewsFeed {padding-left:40px;text-align:left;background:url('images/boxheaderbg.gif');color:#2c2c2c;height:27px;}
.boxTitleNewsFeed {font-weight:bold;font-size:9pt;font-family:Tahoma;font-weight:bold;}
.boxContentNewsFeed {padding:4px;padding-left:40px;text-align:left;}
.boxFooterNewsFeed {padding-left:40px;padding-bottom:15px;text-align:left}

/* NEWSLETTER SIGNUP BOX */
.boxSubscribe {width:100%}
.boxHeaderSubscribe {padding-left:40px;text-align:left;font-weight:bold;font-size:9pt;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;height:27px;}
.boxFormSubscribe {padding:7px;padding-left:40px;text-align:left;}
.boxButtonSubscribe {padding-left:40px;padding-bottom:15px;text-align:left;white-space:nowrap}
.btnSubscribe {}

/* SEARCH BOX */
.boxSearch {margin:0px;}
.btnSearch {}
.txtSearch {margin-bottom:1px;}

/* LOGIN FORM BOX */
.boxLogin {width:100%;}
.boxHeaderLogin {padding-left:40px;text-align:left;font-weight:bold;font-size:9pt;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;height:27px;}
.boxFormLogin {padding:4px;padding-left:40px;text-align:left;padding-bottom:15px;}
.btnLogin {}
.txtLogin {width:90px;}
.labelLogin {text-align:left;white-space:nowrap}
.boxLogout {width:100%;font-weight:bold;font-size:9pt;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;height:27px;margin-bottom:15px;}
.boxFormLogout {padding:5px;padding-left:40px;font-size:9pt;font-family:Tahoma;text-align:left;}
.boxFormLogout a {font-size:9pt;font-family:Tahoma;}
.boxFormLogout a:link {font-size:9pt;font-family:Tahoma;color:#2c2c2c}

/* POLL BOX */
.boxPoll {width:100%}
.boxHeaderPoll {padding-left:40px;text-align:left;font-weight:bold;font-size:9pt;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;padding-right:7px;height:27px;}
.boxFormPoll {padding:4px;padding-left:40px;text-align:left;}
.boxFooterPoll {padding-left:40px;padding-bottom:15px;text-align:left;white-space:nowrap}
.btnPoll {}
    
/* LATEST NEWS (Scrolling) */
.scrollNewsList {width:100%}
.scrollHeaderNewsList {padding-left:40px;text-align:left;font-weight:bold;font-size:9pt;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;height:27px;}
.scrollContentNewsList {padding:10px;padding-left:40px;text-align:left;}
.scrollFooterNewsList {padding:4px;padding-left:40px;text-align:left}
.scrollerFrame{width:100%}

/* COMMENTS */
.comments {width:100%;margin-bottom:10px;border:#d7d7d7 1px solid;background:#F3F3F3}
.commentbody {padding:4px}
.commentinfo {padding:4px;font-size:9px;color:#777777}

/* PRINT LINK */
a.print:link{font-family:arial;font-size:11px;color:#ffffff;text-decoration:underline;white-space:nowrap}
a.print:visited{font-family:arial;font-size:11px;color:#ffffff;text-decoration:underline}
a.print:hover{font-family:arial;font-size:11px;color:#ffffff;text-decoration:underline}

/* TOP NAVIGATION */
.topmenu{font-family:arial;font-size:11px;color:#555555;}
a.topmenu:link{font-family:arial;font-size:11px;color:#555555;text-decoration:underline}
a.topmenu:visited{font-family:arial;font-size:11px;color:#555555;text-decoration:underline}
a.topmenu:hover{font-family:arial;font-size:11px;color:#111111;text-decoration:underline}

/* BOTTOM NAVIGATION */
.bottommenu{}
a.bottommenu:link{}
a.bottommenu:visited{}
a.bottommenu:hover{}

/* MAIN NAVIGATION (LINKS) 
a.mainmenu:link{font-family:arial;font-size:12px;color:#282828;text-decoration:none; text-transform:uppercase}
a.mainmenu:visited{font-family:arial;font-size:9px;color:#e7e7e7;text-decoration:none}
a.mainmenu:hover{font-family:arial;font-size:9px;color:#ffffff;text-decoration:none}

/* MAIN NAVIGATION (TABS) */
.tabActive_Left {width:15px;height:19px;background:url('images/tab_active_left.gif') no-repeat}
.tabActive_Center {white-space:nowrap;background:url('images/tab_active_center.gif')}
.tabActive_Right {width:15px;height:19px;background:url('images/tab_active_right.gif') no-repeat}

.tabInactive_Left {width:15px;height:19px;background:url('images/tab_inactive_left.gif') no-repeat}
.tabInactive_Center {white-space:nowrap;background:url('images/tab_inactive_center.gif')}
.tabInactive_Right {width:15px;height:19px;background:url('images/tab_inactive_right.gif') no-repeat}

a.tabInactiveLink:link {font-weight:bold;font-size:9px;color:#E2ECF7;text-decoration:none;}
a.tabInactiveLink:visited {font-weight:bold;font-size:9px;color:#E2ECF7;text-decoration:none;}
a.tabInactiveLink:hover {font-weight:bold;font-size:9px;color:#E2ECF7;text-decoration:underline;}

a.tabActiveLink:link {font-weight:bold;font-size:9px;color:#1283CA;text-decoration:none;}
a.tabActiveLink:visited {font-weight:bold;font-size:9px;color:#1283CA;text-decoration:none;}
a.tabActiveLink:hover {font-weight:bold;font-size:9px;color:#1283CA;text-decoration:underline;}

/* MAIN NAVIGATION (SIDE) */
/* Option 1 */
#divSide {font:11px Trebuchet MS, Arial, sans-serif;background:#FAFAFA;padding:0px;width:180px}
#divSide ul {margin:0px;padding:0px;list-style-type:none;}

#divSide span {color:#1684E6;padding-left:5px;display:block;border-top:#e6e7e8 1px solid;}
#divSide a {color:#333333;text-decoration:none;display:block;width:175px;padding-left:5px;border-top:#e6e7e8 1px solid;}
#divSide a:hover {color:#1684E6;background-color:#DDDFE4}

#divSide ul ul span {color:#1684E6;padding-left:20px;display:block;}
#divSide ul ul a {color:#333333;text-decoration:none;display:block;width:160px;padding-left:20px;}
#divSide ul ul a:hover {color:#1684E6;background-color:#DDDFE4}

#divSide ul ul ul span {color:#1684E6;padding-left:35px;display:block;}
#divSide ul ul ul a {color:#333333;text-decoration:none;display:block;width:145px;padding-left:35px;}
#divSide ul ul ul a:hover {color:#1684E6;background-color:#DDDFE4}

#divSide li {margin: 0 0 0 0;}
#divSide ul ul li {margin: 0 0 0 0;}
#divSide ul ul ul li {margin: 0 0 0 0;}

/* Option 2 */
/*#divSide {font:11px Trebuchet MS, Arial, sans-serif;background:#FAFAFA;padding:0px;width:180px}
#divSide a {color:#333333;text-decoration:none;}
#divSide a:hover {color:#1684E6}
.mnuLevel1 {margin:0px;padding-left:0px;list-style-type:none;}
.mnuLevel1 li {padding:3px;padding-left:7px;font-weight:bold;text-transform:uppercase;}
.mnuLevel2 {margin:0px;padding-left:12px;list-style-type:none;}
.mnuLevel2 li {padding:3px;padding-left:1px;border-top:#dedede 1px solid;font-weight:normal;text-transform:none;}
.mnuLevel3 {margin:0px;padding-left:12px;list-style-type:none;}
.mnuLevel3 li {padding:3px;padding-left:1px;border-top:#dedede 1px solid;font-weight:normal;text-transform:none;}
.itemSelected {color:#1684E6}*/


/* MAIN NAVIGATION (DROPMENU) */
.top {font:bold 11px verdana;color:#ffffff;background:none;}
.top_hover {font:bold 11px verdana;color:#ffffff;background:#005FA6;}
.member {font:bold 10px verdana;color:#666666;}
.member_hover {font:bold 10px verdana;color:#666666;background:#f7f7f7;}
.topbar {background-image:url("images/topbg_blue4.gif");height:28px;}
.memberbar {background-image:url("images/memberbg.gif");height:27px;}
    
/* MAIN NAVIGATION (DROPDOWN FLOATING MENU) */

/* Main Bar */
.static_nlsmenu {z-index:1;}

/* Main Bar - Item */
.static_nlsitemcontainer {padding-top:1px;padding-bottom:1px;
    padding-left:8px;
    padding-right:4px;}
.static_nlsiconcell {width:0px;}
.static_nlssubmenucell{width:0px;padding-top:6px;padding-left:3px;padding-right:4px}
.static_nlsitem {
    font-weight:bold;font-size:8pt;font-family:Arial;line-height:18px;
    color:#c6c7c8;
    padding:5px 5px 0px 0px;padding-bottom:4px;}
    
/* Main Bar - Item Hover */
.static_nlsitemcontainerover {border:#4EA2FD 1px solid;background:url('images/menubg_hover.gif');
    padding-left:7px;
    padding-right:3px;}
.static_nlsiconcellover {width:0px;}
.static_nlssubmenucellover {width:0px;padding-top:6px;padding-left:3px;padding-right:4px}
.static_nlsitemover {
    font-weight:bold;font-size:8pt;font-family:Arial;line-height:18px;
    color:#c6c7c8;
    padding:5px 5px 0px 0px;padding-bottom:4px;}/*font-family:tahoma;font-size:8pt;font-weight:normal;*/

/* Sub Menu */
.nlsmenu {margin-top:2px;
    border-bottom:#474747 1px solid;border-left:#3A87E8 0px solid;
    border-top:#3A87E8 0px solid;border-right:#434343 1px solid;
    z-index:1;}

/* Sub Menu - Item 
.nlsitemcontainer {height:21px;padding-left:0px;padding-right:0px;background-color:#2B78D9;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);-moz-opacity:0.9;}/*filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);-moz-opacity:0.7;*/
.nlsiconcell {width:22px;background-color:#070707;}
.nlssubmenucell{padding-top:2px;padding-left:3px;padding-right:4px}
.nlsitem {
    font-weight:bold;font-size:10px;font-family:Arial;
    color:#ffffff;
    padding:0px 4px 0px 4px;}

/* Sub Menu - Item Hover */
.nlsitemcontainerover {height:21px;border:#4EA2FD 0px solid;background:url('images/menubg_hover.gif');}
.nlsiconcellover {width:22px;background-color:#5E7809;}
.nlssubmenucellover {padding-top:2px;padding-left:3px;padding-right:4px}
.nlsitemover {
    font-weight:bold;font-size:10px;font-family:Arial;
    color:#ffffff;
    padding:0px 4px 0px 4px;}

/* MAIN NAVIGATION (VERTICAL) */
.mnuVertical {width:170px}
.mnuOver {
    padding:3px;
    background-color:#656567;
    border:#cccccc 1px solid; 
    border-left:#cccccc 1px solid; 
    border-top:#cccccc 1px solid;
    border-bottom:#5A5A5C 1px solid;
    border-right:#5A5A5C 1px solid;
    color:#cccccc;
    }
.mnuSelected {
    padding:3px;
    background-color:#F3F2F7;
    border:white 1px solid; 
    border-top:white 1px solid;    
    border-bottom:#cccccc 1px solid;
    border-right:#cccccc 1px solid;
    font-weight:bold;
    }
.mnuPath {
    padding:3px;
    background-color:#D7D7DB;
    border:white 1px solid;
    border-top:white 1px solid;
    border-bottom:#cccccc 1px solid;
    border-right:#cccccc 1px solid;
    }
.mnuNormal {
    padding:3px;
    background-color:#E5E5EA;
    border:white 1px solid;
    border-top:white 1px solid;
    border-bottom:#cccccc 1px solid;
    border-right:#cccccc 1px solid;
    }
.boxLogin {width:100%;}
.boxHeaderLogin {padding-left:40px;text-align:left;font-weight:bold;font-size:9pt;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;height:27px;}

/* QUICK LINKS/SAME LEVEL PAGES BOX (which contains links to the same level pages/Quick Links) */
.boxQuickLinks_top 
{
    background:url('images/submenu_top_bg.gif') no-repeat;
    width:178px;
    height:5px;
}
.boxQuickLinks_bottom 
{
    background:url('images/submenu_bottom_bg.gif') no-repeat;
    width:178px;
    height:5px;
}
.boxQuickLinks {width:178px;font-weight:bold;background: url('images/submenu_bg.gif') repeat-y;padding: 0px 6px;}
.boxItemQuickLinks {white-space:nowrap;width:166px;}
.boxItemQuickLinks a {height:28px; display:block; font-family:Trebuchet MS;font-size:14px;color:#34525a; text-decoration:none; background-image:url('Images/submenu_button.gif'); background-repeat:no-repeat; padding-top:4px; padding-left:10px;}
.boxItemQuickLinksSelected {height:28px; font-family:Trebuchet MS;font-size:14px;color:#34525a; background-image:url('Images/submenu_button_sel.gif'); background-repeat:no-repeat; padding-top:4px; padding-left:10px;}
.boxItemQuickLinks a:hover {color:#e6eff1; background-image:url('Images/submenu_button_hover.gif'); background-repeat:no-repeat;}


/* LINKS WITHIN BOX (which contains links to pages within the current page) */

.boxLinksWithin_top 
{
    background:url('images/submenu_top_bg.gif') no-repeat;
    width:178px;
    height:5px;
}
.boxLinksWithin_bottom 
{
    background:url('images/submenu_bottom_bg.gif') no-repeat;
    width:178px;
    height:5px;
}
.boxLinksWithin {width:178px;font-weight:bold;background: url('images/submenu_bg.gif') repeat-y;padding: 0px 6px;}
.boxItemLinksWithin {white-space:nowrap;width:166px;}
.boxItemLinksWithin a {height:28px; display:block; font-family:Trebuchet MS;font-size:14px;color:#34525a; text-decoration:none; background-image:url('Images/submenu_button.gif'); background-repeat:no-repeat; padding-top:4px; padding-left:10px;}
.boxItemLinksWithin a:hover { color:#e6eff1; background-image:url('Images/submenu_button_hover.gif'); background-repeat:no-repeat;}
/* POLL RESULTS */
.pollHeader {background:#d6d7d8;text-align:center;padding:5px;font-weight:bold}
.bar1 {background:#ffaa00;border-right:#D78B00 1px solid;border-bottom:#D78B00 1px solid;}
.bar2 {background:#6B8E23;border-right:#59761D 1px solid;border-bottom:#59761D 1px solid;}
.bar3 {background:#FF4500;border-right:#C43600 1px solid;border-bottom:#C43600 1px solid;}
.bar4 {background:#1E90FF;border-right:#0060BF 1px solid;border-bottom:#0060BF 1px solid;}
.bar5 {background:#FF1493;border-right:#C71585 1px solid;border-bottom:#C71585 1px solid;}
.bar6 {background:#ffaa00;border-right:#D78B00 1px solid;border-bottom:#D78B00 1px solid;}
.bar7 {background:#6B8E23;border-right:#59761D 1px solid;border-bottom:#59761D 1px solid;}
.bar8 {background:#FF4500;border-right:#C43600 1px solid;border-bottom:#C43600 1px solid;}
.bar9 {background:#1E90FF;border-right:#0060BF 1px solid;border-bottom:#0060BF 1px solid;}
.bar10 {background:#FF1493;border-right:#C71585 1px solid;border-bottom:#C71585 1px solid;}
.barRow {background:#f6f7f8}
.barRowAlternate  {background:#d6d7d8}

/* FORUM */
.frm_category_bar {background-color:#ffffff;}
.frm_category_title {font-weight:bold;font-size:11px;font-family:Tahoma;}
.frm_forum_header{font-weight:bold;font-size:10px;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;padding-left:7px;height:16px;}
.frm_forum_item{background-color:#ffffff;border:#BEC7D1 1px solid;}

.frm_thread_header{font-weight:bold;font-size:10px;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;padding-left:7px;height:16px;}
.frm_thread_item{background-color:#ffffff;border:#BEC7D1 1px solid;}

.frm_post_bar {font-size:10px;font-family:Tahoma;background:url('images/boxheaderbg.gif');color:#2c2c2c;padding-left:7px;height:16px;}
.frm_post_subject {background-color:#EFEFF1;border:#BEC7D1 1px solid;}
.frm_post_infopanel {background-color:#ffffff;border:#BEC7D1 1px solid;}
.frm_post_message {background-color:#ffffff;border:#BEC7D1 1px solid;}

.frm_title {font-family:verdana;font-size:14px;font-weight:bold;}

.frm_statusbox {line-height:18px;background-color:#ffffff;border:#BEC7D1 1px solid;}

/* Statistic Modules */
.boxStatVertical {margin:28px;text-align:left;}
.boxStatHorizontal {}
.boxStatDetailsVertical {padding:3px;border:#c6c7c8 1px dotted;}
.boxStatDetailsHorizontal {padding-left:3px;border:#c6c7c8 1px dotted;border-left:none;}
.barStat {background:#ffaa00;border-right:#D78B00 1px solid;border-bottom:#D78B00 1px solid;border-left:#ffd000 1px solid;border-top:#ffd000 1px solid}
.barStatArea {background:#333333;border-top:#333333 1px solid;}
.boxStatHeader {background:#a6a7a8;}

/* Menu Tree */
a.prnnode  {
    font-family:tahoma,Arial;
    font-size:8pt;
    color:#000000;
    text-decoration:none;
    cursor:pointer;
    margin:0px;
    padding:2px;}
a.prnnode:hover {background-color:#CCFFCC; font-weight:bold;}
a.node {
    font-family:tahoma,Arial;
    font-size:8pt;
    color:#666666;
    text-decoration:none;
    cursor:pointer;
    margin:0px;
    padding:2px;}
a.node:hover {background-color:#CCFFCC; text-decoration:underline;}
a.selnode {
    font-family:tahoma,Arial;
    font-size:8pt;
    color:#000000;
    text-decoration:none;
    cursor:pointer;
    margin:0px;
    background-color:#CCFFCC;
    padding:1px 1px 1px 1px;
    border:#66CC66 1px solid;}
a.selprnnode {
    font-family:tahoma,Arial;
    font-size:8pt;
    font-weight:bold;
    color:#000000;
    text-decoration:none;
    cursor:pointer;
    margin:0px;
    background-color:#CCFFCC;
    padding:1px 1px 1px 1px;
    border:#66CC66 1px solid;}
div.row {color:#0066cc;text-decoration:none;cursor:pointer;}
div.selrow {background-color:#99CCFF;cursor:pointer;}
div.row:hover {}
input.nodeedit {
    font-family:Verdana,Arial;
    font-size:8pt;
    color:#666666;
    text-decoration:none;
    position:absolute;
    height:20px;
    border:#cfcfcf 1px solid;
    z-index:1;}
.nlstree {text-align:left; border:#e6e7e8 5px solid;padding:12px;background:white;}
.buttonBook 
{
    display:block;
    float:right;
    text-decoration:none;
    padding:0px 8px;
    height:26px;
    line-height:26px;
    background-image: url('images/admin_menu_bg.gif');
}